.navbars {
    box-sizing: border-box;    
    width: 100%;    
    overflow: hidden;
    position: fixed;
    z-index: 9999;
    height: 65px;
    /*background-color: rgba(0,0,0,.2);*/
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
}
.navbar-desktop {
    background-color: rgba(0, 0, 0, .3);
    height: 65px;    
    box-sizing: border-box;
    border-bottom: 1px solid rgba(255, 255, 255, .2);
    position: fixed;
    width: 100%;
    color: #fff;
    padding: 18px 70px;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
}
.navbar__logo {
    float: left;
    padding-right: 35px;
}
.navbar__logo--link {
    color: #fff;
    font-size: 25px;
    line-height: 25px;
}
.navbars.scrolled {
    background-color: rgba(0, 0, 0, 0.6);
    height: 50px;
    width: 100%;
}
.scrolled .navbar-desktop {
    height: 50px;
    padding: 11px 20px;
    border-bottom: 1px solid rgba(255, 255, 255, .7);
}
.navbar__menu {
    float: left;
    margin-top: 7px;
}
.navbar__menu .menu__items .menuitems__item{
    display: inline-flex;
    font-size: 15px;
    text-transform: uppercase;    
    margin-right: 20px;
}
.navbar__profile {
    float: right;    
    margin-top: 7px;    
}
.navbar__profile .profile__items .profileitems__item{
    display: inline-flex;
    font-size: 15px;
    text-transform: uppercase;    
    margin-right: 20px;
}
.navbar-mobileIcon{
    position: absolute;
    top: 22px;
    left: 13px;
    width: 24px;
    height: 2px;
    background: #fff;
}
.navbar-mobileIcon:before{
    top: -5px;
    left: 0;
    content: '';
}
.navbar-mobileIcon:after{
    top: 5px;
    left: 0;
    content: '';
}
/*Carusel*/
.carrousel-container {     
    background-image: url("../img/bg03.jpg");    
    height: 600px; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.first-pane:before {
    content: '';
    box-sizing: border-box;
    position: relative;
    height: 1px;
    margin-bottom: -1px;
    border-top: solid 1px rgba(0, 174, 255, 0.3);
    pointer-events: none;
    z-index: 1;    
}
.first-pane {
    background-color: #002b53;
    height: 600px;
}
.second-pane {
    background-color: #002b53;
    height: 600px;
}
.parallax-bg1 { 
    /* The image used */
    background-image: url("../img/bg01.jpg");
    background-color: #ccc;

    /* Set a specific height */
    height: 600px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media (max-width: 1220px){
    .navbars {
        background-color: rgba(0, 0, 0, 0.6);
        height: 50px;
        width: 100%;
    }
    .navbar-desktop {
        height: 50px;
        padding: 11px 20px;
        border-bottom: 1px solid rgba(255, 255, 255, .7);
    }
}

@media (min-width: 992px){    
    .navbar-mobile{
        display: none;
    }
}

@media (max-width: 991px){
    .navbar-desktop{
        display: none;
    }
    .navbars {
        background-color: #000
    }
}
/*.custom-menu-wrapper {
    background-color: #808080;
    margin-bottom: 2.5em;
    white-space: nowrap;
    position: relative;
}

.custom-menu {
    display: inline-block;
    width: auto;
    vertical-align: middle;
    -webkit-font-smoothing: antialiased;
}

.custom-menu .pure-menu-link,
.custom-menu .pure-menu-heading {
    color: white;
}

.custom-menu .pure-menu-link:hover,
.custom-menu .pure-menu-heading:hover {
    background-color: transparent;
}

.custom-menu-top {
    position: relative;
    padding-top: .5em;
    padding-bottom: .5em;
}

.custom-menu-brand {
    display: block;
    text-align: center;    
}

.custom-menu-toggle {
    width: 44px;
    height: 44px;
    display: block;
    position: absolute;
    top: 3px;
    right: 0;
    display: none;
}
.burger {
    padding: 20px 34px 20px 10px;
    cursor: pointer;
}
.custom-menu-toggle .burger__icon, .custom-menu-toggle .burger__icon::before, .custom-menu-toggle .burger__icon::after {
    position: absolute;
    display: block;
    background-color: #000;
    width: 24px;
    height: 3px;
    transition: all .2s 0s ease-out;
  }
.custom-menu-toggle .bar {
    background-color: white;
    display: block;
    width: 20px;
    height: 2px;
    border-radius: 100px;
    position: absolute;
    top: 22px;
    right: 12px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}

.custom-menu-toggle .bar:first-child {
    -webkit-transform: translateY(-6px);
    -moz-transform: translateY(-6px);
    -ms-transform: translateY(-6px);
    transform: translateY(-6px);
}

.custom-menu-toggle.x .bar {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.custom-menu-toggle.x .bar:first-child {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.custom-menu-screen {
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
    height: 3em;
    width: 70em;
    position: absolute;
    top: 0;
    z-index: -1;
}

.custom-menu-tucked .custom-menu-screen {
    -webkit-transform: translateY(-44px);
    -moz-transform: translateY(-44px);
    -ms-transform: translateY(-44px);
    transform: translateY(-44px);
}

@media (max-width: 62em) {

    .custom-menu {
        display: block;
    }
    
    .custom-menu-bottom {
        position: absolute;
        width: 100%;
        border-top: 1px solid #eee;
        background-color: #808080\9;
        z-index: 100;
    }

    .custom-menu-bottom .pure-menu-link {
        opacity: 1;
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -ms-transition: all 0.5s;
        transition: all 0.5s;
    }

    .custom-menu-bottom.custom-menu-tucked .pure-menu-link {
        -webkit-transform: translateX(-140px);
        -moz-transform: translateX(-140px);
        -ms-transform: translateX(-140px);
        transform: translateX(-140px);
        opacity: 0;
        opacity: 1\9;
    }

    .pure-menu-horizontal.custom-menu-tucked {
        z-index: -1;
        top: 45px;
        position: absolute;
        overflow: hidden;
    }
}
*/